<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Book Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="dist/style/main.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <main id="booksearch">
        <div class="container">
            <h3 class="mt-5">找書趣</h3>
            <div class="form-inline">
                <p>{{subTitle}}</p>
                <input class="form-control box_shadow" type="text" v-model.trim="searchBookName" placeholder="請輸入想查詢的書籍" /> &nbsp;
                <button class="btn btn-primary box_shadow" @click="search">開始搜尋</button>
            </div>
            <div class="bookResult">
                <ul>
                    <li v-for="(item,index) in bookAry.items" class="mt-4 form-inline listMenu">
                        <img :src="item.volumeInfo.imageLinks.smallThumbnail" alt="" />
                        <div class="content">
                            <p v-if="item.volumeInfo.title !== undefined">&nbsp;{{item.volumeInfo.title}}</p>
                            <p v-if="item.volumeInfo.authors !== undefined">
                                &nbsp;作者 : {{ item.volumeInfo.authors[0]}}
                            </p>
                            <p v-if="item.volumeInfo.publisher !== undefined">
                                &nbsp;出版社 : {{ item.volumeInfo.publisher}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <script src="js/main.js"></script>
</body>

</html>